# Test your endpoint

This notebook present some tests to assert your endpoint. Feel free to complete those tests.

In [1]:
import requests

In [14]:
# We have put the localhost URL as default, feel free to change it
url = "https://api-wine-quality-prediction.herokuapp.com/predict"

In [15]:
# This a simple example of input
input_simple = {
    "input": [[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8]]
}

In [16]:
res = requests.post(url, json=input_simple)
assert res.status_code == 200
print(res.json())

{'predict': [6.0]}

In [17]:
# This a example of input with several inputs
input_multiple = {
    "input": [[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8],
              [5.0, 0.98, 0.32, 18.9, 0.050, 75.0, 122.0, 0.401, 3.1, 0.21, 1.2]]
}

In [18]:
res = requests.post(url, json=input_multiple)
assert res.status_code == 200
print(res.json())

{'predict': [6.0, 6.0]}

In [19]:
# This a example of input with several inputs
input_multiple2 = {
    "input": [[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8],
           [11.8, 0.23, 0.38, 11.1, 0.034, 15.0, 123.0, 0.9997, 2.93, 0.55, 9.7],
              [5.0, 0.98, 0.32, 18.9, 0.050, 75.0, 122.0, 0.401, 3.1, 0.21, 1.2],
             [8.6, 0.42, 0.39, 1.8, 0.068, 6.0, 12.0, 0.99516, 3.35, 0.69, 11.7],
              [5.0, 0.98, 0.32, 18.9, 0.050, 75.0, 122.0, 0.401, 3.1, 0.21, 1.2]]
}

In [20]:
res = requests.post(url, json=input_multiple2)
assert res.status_code == 200
print(res.json())

{'predict': [6.0, 3.0, 6.0, 8.0, 6.0]}

In [21]:
import pandas as pd

X= pd.DataFrame(input_multiple)

In [22]:
X

                                               input
0  [7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1....
1  [5.0, 0.98, 0.32, 18.9, 0.05, 75.0, 122.0, 0.4...

In [23]:

X2= pd.DataFrame(input_multiple2)

In [24]:
X2

                                               input
0  [7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1....
1  [11.8, 0.23, 0.38, 11.1, 0.034, 15.0, 123.0, 0...
2  [5.0, 0.98, 0.32, 18.9, 0.05, 75.0, 122.0, 0.4...
3  [8.6, 0.42, 0.39, 1.8, 0.068, 6.0, 12.0, 0.995...
4  [5.0, 0.98, 0.32, 18.9, 0.05, 75.0, 122.0, 0.4...